<!-- <nav mat-tab-nav-bar [tabPanel]="tabPanel">
    <a mat-tab-link *ngFor="let link of navLinks" [routerLink]="link.path" routerLinkActive >
        {{link.label}}
    </a>
</nav>

<mat-tab-nav-panel #tabPanel>
    <router-outlet></router-outlet>
</mat-tab-nav-panel> -->
 


<!-- <div class="card" style="margin: 1rem 1rem 1rem 1rem; border-width: 0;">
    <div class="card-body">

        <mat-tab-group>
            <mat-tab label="Candidate">
                <app-candidate></app-candidate>
            </mat-tab>
            <mat-tab label="Schedule Interview">
                <app-set-interview></app-set-interview>
            </mat-tab>
            <mat-tab label="Employee">
                <app-employee-module></app-employee-module>
            </mat-tab>
        </mat-tab-group>

    </div>
</div> -->
